.profile {
  width: 75%;

  float: center;
  background-color: #abcdef;
  color: #000000;
  margin: 100px;
  padding: 10px;
  text-align: center;
}

body {
  color: #0F0F0F;
}

H1 {
  text-align: center;
}
.row {padding: 50px;
  margin-bottom: auto;}

/* Media Queries */

@media screen and (max-width: 1170px) {
  .extra {
    display: none;
  }
}

@media print {
  .profile {
    background: transparent;
  }
}
